*{
    margin:0;
    padding:0;
}
html {
    scroll-behavior: auto !important;
}

body{
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}

#destacados img{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.tooltip-inner{
    color: #000000;
    background-color: #cf3131;
    opacity: 1;
}


.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #cf3131;
}

footer a{
   color: #FFFFFF;
}